@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

ul {
    margin: 0;
    padding: 0 !important;
    list-style: none;
}

.text-right {
    text-align: right;
}

.text-gray {
    color: gray;
}

.text-bold {
    font-weight: 800;
}

.btn {
    width: 100%;
    position: relative;
}

.container-fluid {
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
}

.main-content {
    min-height: 100vh;
    transition: 0.5s;
    padding: 30px 30px 30px 110px;
    box-sizing: border-box;
    background-color: #e6e6e6;
}

.header {
    margin-bottom: 20px;
    align-items: center;
    display: flex !important;
    justify-content: space-between;
}

.header>.left,
.header>.right {
    width: auto;
}

.header>.left>h3 {
    margin: 0;
    font-weight: 800;
}

.header>.right>.searchbox,
.header>.right>.filter {
    display: inline-block;
}

.header>.right>.filter,
.header>.right>.searchbox {
    position: relative;
    border-radius: 7px;
    background-color: #fff;
}

.header>.right>.searchbox {
    padding: 8px 10px;
    margin-right: 15px;
}

.header>.right>.searchbox>img {
    width: 17px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
}

.header>.right>.searchbox>input {
    width: auto;
    height: 100%;
    border: none;
    width: 280px;
    position: relative;
    display: inline-block;
    outline: none !important;
    background-color: transparent;
    margin-bottom: -10px !important;
}

.header>.right>.filter {
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.header>.right>.filter>img {
    width: 100%;
    position: relative;
}

.items-container>.col-md-12 {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    width: 100%;
    display: flex;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    max-width: 25%;
}

.c-card {
    width: 100%;
    display: flex;
    padding: 10px;
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 7px;
    margin-bottom: 30px;
    background-color: #fff;
}

.c-card:hover>.top>.cart-icon {
    background-color: rgba(255, 255, 255, 1);
}

.c-card>.top {
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
}

.c-card>.top>img {
    width: 100%;
    position: relative;
}

.c-card>.top>.cart-icon {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    position: absolute;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.7);
}

.c-card>.top>.cart-icon:hover {
    background-color: orangered;
}

.c-card>.top>.cart-icon:hover>img {
    filter: brightness(0) invert(1);
}

.c-card>.top>.cart-icon>img {
    width: 100%;
    position: relative;
    filter: invert(64%) sepia(82%) saturate(4920%) hue-rotate(331deg) brightness(99%) contrast(103%);
}

.c-card>.bottom {
    margin-top: 10px;
}

.c-card>.bottom>h6,
.c-card>.bottom>h5 {
    margin: 0;
}

.c-card>.bottom>.head {
    font-size: 18px;
    font-weight: 800;
}

.c-card>.bottom>p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 18px;
}

.c-card>.bottom>h5 {
    display: inline;
    color: orangered;
    font-weight: 600;
}

.order-container {
    height: 100%;
    right: -100%;
    display: flex;
    display: block;
    position: fixed;
    transition: 0.5s;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 15px !important;
}

.order-container>.head {
    margin-bottom: 20px;
}

.order-container>.order-items-container {
    width: 100%;
    height: 400px;
    display: block;
    transition: 0.5s;
    min-height: 400px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 30px;
}

.order-container>.order-items-container:hover::-webkit-scrollbar-thumb {
    background-color: darkorange;
    transition: 0.5s;
}

.order-container>.order-items-container::-webkit-scrollbar {
    width: 5px;
}

.order-container>.order-items-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.order-container>.order-items-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: gray;
}

.order-container>.order-items-container::-webkit-scrollbar-thumb:hover {
    background: darkorange;
}

.order-container>.order-items-container>.order-item {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.order-container>.order-items-container>.order-item:last-child {
    margin-bottom: 0;
}

.order-container>.order-items-container>.order-item>.image {
    width: 80px;
    height: 80px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.order-container>.order-items-container>.order-item>.image>img {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.order-container>.order-items-container>.order-item>.side {
    padding-left: 10px;
}

.order-container>.order-items-container>.order-item>.side>.title {
    font-size: 20px;
    font-weight: 800;
    padding-top: 5px;
}

.order-container>.order-items-container>.order-item>.side>.price {
    margin: 0;
    bottom: 5px;
    color: orangered;
    position: absolute;
}

.order-container>.order-items-container>.order-item>.side>.item-count {
    bottom: 8px;
    right: 20px;
    display: block;
    position: absolute;
}

.order-container>.order-items-container>.order-item>.side>.item-count>button {
    width: 22px;
    border: none;
    height: 22px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    outline: none !important;
    background-color: darkorange;
}

.order-container>.order-items-container>.order-item>.side>.item-count>button:is(:hover, :focus) {
    box-shadow: 0 0 5px #999;
}

.order-container>.order-items-container>.order-item>.side>.item-count>button:disabled {
    background-color: rgba(255, 140, 0, 0.6);
}

.order-container>.order-items-container>.order-item>.side>.item-count>span {
    color: gray;
    width: 30px;
    text-align: center;
    display: inline-block;
}

.order-container>.order-bottom>.amount-container {
    bottom: 0;
    width: 100%;
    padding: 12px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 35px;
    background-color: #e6e6e6;
}

.order-container>.order-bottom>.amount-container>.details {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px gray dashed;
}

.order-container>.order-bottom>.btnPayment {
    color: #fff;
    padding-top: 8px;
    font-size: 18px;
    text-align: left;
    transition: 0.5s;
    font-weight: 700;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid darkorange;
    background-color: darkorange;
}

.order-container>.order-bottom>.btnPayment:hover {
    color: darkorange;
    background-color: transparent;
    padding-left: -50px !important;
    border: 2px solid darkorange;
    box-shadow: 0px 0px 12px #999;
}

.category-container {
    width: 100%;
    height: 200px;
    display: flex;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    max-width: 33.33337%;
}

.category-container a {
    text-decoration: none;
}

.category-container .card-div {
    width: 100%;
    display: flex;
    padding: 7px 8px;
    border-radius: 7px;
    align-items: center;
    background-color: #fff;
}

.category-container .card-div img {
    width: 150px;
    height: 150px;
    margin: 10px 0;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    align-content: center;
}

.category-container .card-div .card-body {
    padding: 10px;
    overflow: hidden;
}

.category-container .card-div .card-body .category-head {
    color: #333;
    font-weight: 700;
}

.category-container .card-div .card-body .category-desc {
    margin: 0;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}